info {
  height: 120px;
  width: 50%;
  background-color: rgb(5, 129, 159);
  position: relative;
  padding-top: 120px;
}

.avatar {
  position: absolute;
  top: 25%;
  left: 44%;
}

.your-name {
  position: absolute;
  top: 54%;
  left: 46%;
  color: #070505;
}
